<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=knz140;AccountKey=JylvhoZnsvVKNfgFq1sJlg/NxjUt6/zvkwVtJWB6UT6LCehkqDXetJHIe+aOABj0mGB1N7pbUIeq1wOI5ocUjQ==;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>